

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./fonts/poppins/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'Poppins-Bold';
    src: url('./fonts/poppins/Poppins-Bold.ttf');
  }


  @font-face {
    font-family:'OpenSans-Light';
    src: url('./fonts/open-sans/OpenSans-Light.ttf') ;
  }
  @font-face {
    font-family:'OpenSans-Regular';
    src: url('./fonts/open-sans/OpenSans-Regular.ttf') ;
  }
  @font-face {
    font-family:'Museo500';
    src: url('./fonts/museo//Museo\ 500.otf') ;
  }
  @font-face {
    font-family:'Museo700';
    src: url('./fonts/museo/Museo700-Regular.otf') ;
  }
  @font-face {
    font-family:'Museo900';
    src: url('./fonts/museo/Museo\ 900.otf');
  }


  @font-face {
    font-family: 'Muli-Bold';
    src: url('./fonts/muli/Muli-Bold.ttf');
  }

